/* Author     : Paul Stein */
body {
    background-color: #ffffff;  
    font-family: sans-serif;
}
header, footer {
    background-color: #ffffff;
}
.fs-content-index{
    padding-top: 110px;
}
.fs-content{
    padding-top: 90px;
}
.text-content {
    text-align: center;
}
.fs-thumbs {
    height: 195px;
}
/*carousel-caption changes below will center an image on the carousel, but doesn't work well w/ wow animation'
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    bottom: initial;
}*/
.navbar {
    border: none;
    background-color: #ffffff;
    /*transition lines are for animated header which I'm not using right now.
    -webkit-transition: all 0.5s;
    transition: all 0.5s; */
    opacity: 0.96;
}
/*this gets the navbar header to same height as the logo image*/
.navbar-header {
    height: 109px;
}
/*to shrink header on scroll and change opacity. currently doesn't shrink as padding already 0px. 
requires older version of jquery (1.9.1 works)
.cbp-af-header-shrink {
    padding: 0px;
    opacity: 0.9;
}*/
.navbar-brand {
    border: none;
    padding: 0px;
}
/* sets navbar menu text color to black and a background color to show hover */
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #ddd;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #ddd;
    color: #000;
}
.dropdown-menu {
    color: #000;
}
.navbar-default .navbar-toggle {
    border-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
    background-color: #ddd;
}
/* used with background image and parallax scrolling only
.fill-screen {
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.fixed-attachment {
    background-attachment: fixed;
}
@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
} */
@media (max-width: 479px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000;
    }
}
@media (min-width: 720px) {
    /*navbar-nav changes to center navbar menu items*/
    .navbar-nav {
        padding-top: 30px;
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }
    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
    /*moves carousel caption up for large screens so caption is not down off the screen */
    .carousel-caption {
        top: 40%;
    }
}
@media (min-width: 992px) {
    /*navbar-nav changes to center navbar menu items*/
    .navbar-nav {
        padding-top: 30px;
        margin:0 auto;
        display: block;
        text-align: center;
        font-size: 16px;
    }
    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
    /*moves carousel caption up for large screens so caption is not down off the screen */
    .carousel-caption {
        top: 40%;
    }
}
/*.thumbnail {
    display: inline-block;
    max-width: 100%;
    height: fit-content;
    padding: 4px;
    line-height: 1;
    background-color: #fff;
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; */
/*line-height: 1.42857143; */
/* border: 1px solid #ddd; */
/*  border-radius: 4px; */
/*}*/
/*.thumbnail .caption {
    padding: 9px;
    color: #333;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}*/