/* Author     : Paul Stein */
body {
    background-color: #ffffff;  
    font-family: 'Cabin', sans-serif;
}
header, footer {
    background-color: #ffffff;
    font-family: 'Cabin', sans-serif;
}
p {
    font-size: 16px;
    text-align: left;
    padding-right: 25px;
    padding-left: 25px;
}
h4 {
    padding-left: 12px;
    padding-right: 12px;
}
.fs-content-index{
    padding-top: 110px;
}
.fs-content{
    padding-top: 90px;
}
.text-content {
    text-align: center;
    padding-bottom: 10px;
}
.fs-thumbs {
    height: 195px;
}
.navbar {
    border: none;
    background-color: #ffffff;
    opacity: 0.96;
}
/*sets the navbar header to same height as the logo image*/
.navbar-header {
    height: 109px;
}
/* Increase font size for navbar menu */
.navbar-nav {
    font-size: 18px;
}
.dropdown-menu {
    font-size: 16px;
}
.navbar-brand {
    border: none;
    padding: 0px;
}
/* sets navbar menu text color to black and a background color to show hover */
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: #ddd;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #ddd;
    color: #000;
}
.dropdown-menu {
    color: #000;
}
.navbar-default .navbar-toggle {
    border-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000;
    background-color: #ddd;
}
@media (max-width: 361px) {
    h1 {
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
    } 
}
/* set navbar text color to black */
@media (max-width: 479px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000;
    }
}
@media (min-width: 720px) {
    /*navbar-nav changes to center navbar menu items*/
    .navbar-nav {
        padding-top: 30px;
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }
    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
    /*moves carousel caption up for large screens so caption is not down off the screen */
    .carousel-caption {
        top: 40%;
    }
    /* font size, alignment and padding for main content text blocks */
    p {
        font-size: 18px;
        text-align: left;
        padding-right: 75px;
        padding-left: 75px;
    }
}
@media (min-width: 992px) {
    p {
        padding-right: 150px;
        padding-left: 150px;
    }
}
/*changes to show full carousel image on wide screens. reduces width of carousel images*/
@media (min-width: 1080px) {
    .carousel {
        width: 1024px;
        float:none;
        margin:0 auto;
        display: block;
    }
}