/* Author     : Paul Stein */
/*carousel-caption changes below will center an image on the carousel, but doesn't work well w/ wow animation'
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    bottom: initial;
}*/
/*transition lines are for animated header which I'm not using right now.
.navbar {
    -webkit-transition: all 0.5s;
    transition: all 0.5s; 
}*/
/*to shrink header on scroll and change opacity. currently doesn't shrink as padding already 0px. 
requires older version of jquery (1.9.1 works)
.cbp-af-header-shrink {
    padding: 0px;
    opacity: 0.9;
}*/
/* used with background image and parallax scrolling only
.fill-screen {
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.fixed-attachment {
    background-attachment: fixed;
}
@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
} */
/*.thumbnail {
    display: inline-block;
    max-width: 100%;
    height: fit-content;
    padding: 4px;
    line-height: 1;
    background-color: #fff;
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; */
  /*line-height: 1.42857143; */
  /* border: 1px solid #ddd; */
  /*  border-radius: 4px; */
  /*}*/
/*.thumbnail .caption {
    padding: 9px;
    color: #333;
}
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}*/